#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*===================*/
/* product__main */
/*===================*/

.product-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4vw;
  max-width: 800px;
}

.product-img__cont {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: 440px;
}

.product-img {
  border-radius: 5px;
  background: #d9d9d9;
  height: 80%;
}

.product-modal {
  background-color: rgb(200, 200, 200);
  height: 20%;
}

.product {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.8fr 0.6fr 1fr;
  row-gap: 2vw;
  text-align: left;
  align-items: flex-start;
  color: black;
  font-family: Inter;

  &__brand {
    font-size: 0.75rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__name {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  &__desc {
    font-size: 0.825rem;
    font-weight: 500;
    line-height: 150%;
    text-align: left;
  }

  &__discount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 25px;
    background-color: black;
    border-radius: 3px;
    font-size: 0.625rem;
    font-weight: 500;
    color: white;
  }

  &__currentprice {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__newprice {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__oldprice {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #828282;
  }
}

/*===================*/
/* product__btns */
/*===================*/

.product__btns {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  color: black;
  background-color: white;
  cursor: pointer;

  &--cartbtn {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 900;
    transition: all 0.1s;
  }

  &--cartbtn:hover {
    background-color: rgb(201, 201, 201);
    color: black;
    border: 1px solid black;
  }

  .product_quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
  }

  &--incdec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    gap: 10px;
  }
}

.inc,
.dec {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  border: 0.5px solid black;
}

.inc:hover,
.dec:hover {
  background-color: #f0f0f0;
}

/*===================*/ /*===================*/
/*===================*/ /*===================*/
/*            CarouselComponent             */
/*===================*/ /*===================*/
/*===================*/ /*===================*/

.carousel__img img {
  max-width: 100%;
  height: auto;
}

/* Adjust arrow size for small screens */
@media (max-width: 768px) {
  .carousel.carousel-slider .control-arrow {
    color: black;
  }

  .carousel.carousel-slider .control-arrow:before {
    font-size: 10px;
  }
}

.carousel .slide {
  min-width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}

.control-prev {
  background-color: red;
}

.carousel .slide img {
  width: 50vw !important;
  vertical-align: top;
  border: 0;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 1px solid #000000 !important;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #000000 !important;
  transition: 0.01s all ease-in-out !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000000 !important;
  transition: 0.01s all ease-in-out !important;
}

.carousel.carousel-slider .control-arrow:hover {
  background: none !important;
}

.carousel .thumb {
  width: 80vw;
}

/*===================*/ /*===================*/
/*===================*/ /*===================*/
/*               Media Queries               */
/*===================*/ /*===================*/
/*===================*/ /*===================*/

@media screen and (max-width: 768px) {
  .product-main {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 5vw;
    max-width: 800px;
  }

  .carousel .slide img {
    width: 50vw !important;
    vertical-align: top;
    border: 0;
  }
}
